In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('data/국민여행조사_전처리_2.csv')
data.head()

            시군구 동반자유형  만족도  재방문의도  타인추천의도 성별     연령대        평점  법정동코드
0   강원특별자치도 삼척시    가족    5      4       4  여  15~19세  5.266667  42230
1  제주특별자치도 서귀포시    가족    5      5       5  여     30대  6.166667  50130
2   강원특별자치도 강릉시    가족    5      5       4  남     30대  5.666667  42150
3   강원특별자치도 강릉시   비가족    5      5       4  남     50대  5.666667  42150
4   강원특별자치도 춘천시   비가족    5      4       3  남     40대  4.766667  42110

In [3]:
correlation = data[['만족도', '재방문의도', '타인추천의도']].corr()
correlation

             만족도     재방문의도    타인추천의도
만족도     1.000000  0.524553  0.473374
재방문의도   0.524553  1.000000  0.578218
타인추천의도  0.473374  0.578218  1.000000

In [4]:
def recommend_places(data, gender, age, companion):
    # Filter data based on the input
    filtered_data = data[(data['성별'] == gender) & 
                         (data['연령대'] == age) & 
                         (data['동반자유형'] == companion)]
    
    # Sort by rating and select top 15
    top_places = filtered_data.sort_values('평점', ascending=False).head(15)
    
    # Randomly select 5 places
    recommended_places = top_places.sample(5)
    
    return recommended_places

# Test the function
recommended_places = recommend_places(data, '남', '20대', '비가족')
recommended_places_cities = recommended_places['시군구'].tolist()
recommended_places_cities

['경기도 파주시', '강원특별자치도 춘천시', '서울특별시 중구', '인천광역시 중구', '경상남도 통영시']